@charset "UTF-8";
@font-face {
  font-family: 'GenJyuuGothicX';
  src: url(../../font/GenJyuuGothicX-Monospace-Regular.ttf) format("TrueType");
}

.wrapBox {
  padding: 30px 15px;
  max-width: 340px;
  margin: 120px auto 0;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.wrapBox form {
  max-width: 300px;
  margin: 0 auto;
  font-family: GenJyuuGothicX;
}

.wrapBox form .animate-label {
  position: relative;
  margin-top: 35px;
}

.wrapBox form .animate-label label {
  position: absolute;
  bottom: 8px;
  left: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 18px;
  width: 100%;
  color: #94f1ff;
  padding: 0 5px;
}

.wrapBox form .animate-label input:valid + label,
.wrapBox form .animate-label input:focus + label {
  bottom: 42px;
  font-size: 16px;
  color: #94f1ff;
}

.wrapBox form .animate-label span:before {
  content: '';
  position: absolute;
  background: #94f1ff;
  width: 0px;
  height: 2px;
  right: 50%;
  bottom: 0;
}

.wrapBox form .animate-label input:focus ~ span:before {
  width: 100%;
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapBox form input {
  width: 97%;
  background: rgba(46, 132, 245, 0.3);
  color: #94f1ff;
  padding: 8px 5px;
}

.wrapBox form input:focus, .wrapBox form input:valid {
  background: rgba(46, 132, 245, 0.1);
}

.wrapBox form input::-webkit-input-placeholder {
  color: #94f1ff;
  font-size: 18px;
}

.wrapBox form input:-ms-input-placeholder {
  color: #94f1ff;
  font-size: 18px;
}

.wrapBox form input::-ms-input-placeholder {
  color: #94f1ff;
  font-size: 18px;
}

.wrapBox form input::placeholder {
  color: #94f1ff;
  font-size: 18px;
}

.wrapBox form div.center {
  width: 100%;
  text-align: center;
}

@-webkit-keyframes ripple {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -18px;
    margin-top: -20px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -18px;
    margin-top: -20px;
    opacity: 0;
  }
}

.createPage .selectHand {
  margin-top: 20px;
  text-align: left;
}

.createPage .selectHand p {
  display: inline-block;
  color: #94f1ff;
}

.createPage .selectHand div {
  display: inline-block;
  width: 100px;
  color: #94f1ff;
}

.createPage .selectHand div input[type="radio"] {
  width: auto;
  cursor: pointer;
  margin: 0;
  background: #65c6fd;
  border: none;
  color: #11367A;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  display: inline-block;
}

.createPage .selectHand div input[type="radio"]:checked {
  background: #94f1ff;
}

.createPage .selectHand div input[type="radio"]:checked::after {
  -webkit-animation: ripple 0.65s;
          animation: ripple 0.65s;
  background: #94f1ff;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.createPage .selectHand div input[type="radio"]:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '■';
  top: -2px;
  left: 3px;
}

.createPage .selectHand div input[type="radio"]::after {
  border-radius: 50%;
}

.createPage .selectHand div .labelRadio {
  font-size: 18px;
  cursor: pointer;
  padding-left: 10px;
}

@-webkit-keyframes bounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.verifyPage table {
  border-collapse: separate;
  border-spacing: 0;
  color: #bedaff;
}

.verifyPage table th {
  font-family: GenJyuuGothicX;
  padding: 4px;
  min-width: 90px;
  background: #2e84f5;
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  font-size: 20px;
  color: black;
}

.verifyPage table tr td {
  font-family: "微軟正黑體";
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  vertical-align: middle;
  max-width: 400px;
  font-size: 18px;
}

.verifyPage table tr td.noData {
  line-height: 36px;
}

.verifyPage table tr td p {
  color: #bedaff;
}

.verifyPage table tr:nth-child(2n) td {
  background-color: rgba(0, 0, 0, 0.5);
}

.verifyPage .spinner {
  display: inline-block;
  text-align: center;
}

.verifyPage .spinner div {
  width: 6px;
  height: 6px;
  background-color: #94f1ff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  -webkit-animation: bounceDelay 1.4s infinite ease-in-out both;
  animation: bounceDelay 1.4s infinite ease-in-out both;
}

.verifyPage .spinner div:first-child {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.verifyPage .spinner div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.verifyPage .tableInfo {
  margin: 50px auto;
}

.verifyPage .tableInfo th {
  width: 140px;
  padding: 5px;
}

.verifyPage .tableInfo td {
  padding: 8px 5px;
  text-align: center;
}

@-webkit-keyframes glitch {
  0%,
  10%,
  20%,
  100% {
    opacity: 1;
  }
  5%,
  15%,
  85% {
    opacity: 0.85;
  }
}

@keyframes glitch {
  0%,
  10%,
  20%,
  100% {
    opacity: 1;
  }
  5%,
  15%,
  85% {
    opacity: 0.85;
  }
}

@-webkit-keyframes scan {
  0%,
  100% {
    top: 4%;
  }
  50% {
    top: 96%;
  }
}

@keyframes scan {
  0%,
  100% {
    top: 4%;
  }
  50% {
    top: 96%;
  }
}

.identifyPage {
  padding: 30 15px;
}

.identifyPage .scanWrap {
  margin: 0 auto;
  position: relative;
}

.identifyPage .scanWrap .strScan {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../img/scan.png");
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #94f1ff;
  letter-spacing: 5px;
  margin: auto;
  font-size: 26px;
  font-family: GenJyuuGothicX;
}

.identifyPage .scanWrap .strScan button {
  width: 70%;
  position: absolute;
  top: 35%;
  left: 15%;
  cursor: pointer;
  z-index: 1;
}

.identifyPage .scanWrap .strScan button:hover {
  border: 2px solid #65c6fd;
  background-color: #65c6fd;
  -webkit-box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
          box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
  color: black;
  text-shadow: none;
}

.identifyPage .scanWrap div.scan {
  -webkit-animation: glitch .7s infinite;
          animation: glitch .7s infinite;
}

.identifyPage .scanWrap div.scan:after {
  position: absolute;
  -webkit-box-shadow: rgba(223, 206, 61, 0.75) 0 0 10px 3px;
          box-shadow: rgba(223, 206, 61, 0.75) 0 0 10px 3px;
  background: #dfce3d;
  content: "";
  height: 1px;
  top: 20px;
  -webkit-animation: scan 2s infinite;
          animation: scan 2s infinite;
}

.identifyPage .scanWrap div.scan:before {
  content: "";
  background-image: url("../../img/sacn-top.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.identifyPage .scanWrap div.scan,
.identifyPage .scanWrap div.result {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../img/scan.png");
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #94f1ff;
  letter-spacing: 5px;
  margin: auto;
  font-size: 26px;
  font-family: GenJyuuGothicX;
}

.identifyPage .scanWrap div.scan p,
.identifyPage .scanWrap div.result p {
  font-family: GenJyuuGothicX;
}

.identifyPage .scanWrap .mask {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .scanWrap {
    height: 515px;
  }
  .scanWrap div.scan,
  .scanWrap div.result {
    line-height: 515px;
    font-size: 26px;
  }
  .scanWrap div.scan p,
  .scanWrap div.result p {
    font-size: 26px;
  }
  .scanWrap div.scan::after {
    left: 22px;
    width: 298px;
  }
  .scanWrap .mask {
    width: 338px;
    height: 515px;
    background: linear-gradient(135deg, #10234d 32px, transparent 0) top left, linear-gradient(-135deg, #122550 44px, transparent 0) top right, linear-gradient(-45deg, #0f2450 32px, transparent 0) bottom right, linear-gradient(45deg, #0f2450 26px, transparent 0) bottom left;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .identifyPage {
    max-width: 300px;
  }
  .identifyPage .scanWrap {
    height: 430px;
    width: 283px;
    font-size: 24px;
  }
  .identifyPage .scanWrap div.scan,
  .identifyPage .scanWrap div.result {
    line-height: 430px;
  }
  .identifyPage .scanWrap div.scan p,
  .identifyPage .scanWrap div.result p {
    font-size: 24px;
  }
  .identifyPage .scanWrap div.scan::after {
    left: 18px;
    width: 248px;
  }
  .identifyPage .scanWrap .mask {
    width: 283px;
    height: 430px;
    background: linear-gradient(135deg, #0d1f47 27px, transparent 0) top left, linear-gradient(-135deg, #0d1f47 36px, transparent 0) top right, linear-gradient(-45deg, #0d2761 26px, transparent 0) bottom right, linear-gradient(45deg, #0d2761 21px, transparent 0) bottom left;
  }
}

@media (max-width: 767px) {
  .identifyPage {
    max-width: 270px;
  }
  .identifyPage .scanWrap {
    height: 380px;
    width: 250px;
  }
  .identifyPage .scanWrap div.scan,
  .identifyPage .scanWrap div.result {
    line-height: 380px;
    font-size: 20px;
  }
  .identifyPage .scanWrap div.scan p,
  .identifyPage .scanWrap div.result p {
    font-size: 20px;
  }
  .identifyPage .scanWrap div.scan::after {
    left: 16px;
    width: 219px;
  }
  .identifyPage .scanWrap .mask {
    height: 380px;
    width: 250px;
    background: linear-gradient(135deg, #0d1d3f 24px, transparent 0) top left, linear-gradient(-135deg, #0d1d3f 31px, transparent 0) top right, linear-gradient(-45deg, #0f2961 22px, transparent 0) bottom right, linear-gradient(45deg, #0f2961 18px, transparent 0) bottom left;
  }
}

.managementPage {
  margin-left: 150px;
  max-width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.managementPage table {
  border-collapse: separate;
  border-spacing: 0;
  color: #bedaff;
}

.managementPage table th {
  font-family: GenJyuuGothicX;
  padding: 4px;
  min-width: 90px;
  background: #2e84f5;
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  font-size: 20px;
  color: black;
}

.managementPage table tr td {
  font-family: "微軟正黑體";
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  vertical-align: middle;
  max-width: 400px;
  font-size: 18px;
}

.managementPage table tr td.noData {
  line-height: 36px;
}

.managementPage table tr td p {
  color: #bedaff;
}

.managementPage table tr:nth-child(2n) td {
  background-color: rgba(0, 0, 0, 0.5);
}

.managementPage ::-webkit-scrollbar {
  width: 5px;
}

.managementPage ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #11367A;
}

.managementPage ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px #65c6fd;
}

.managementPage h1 {
  margin-bottom: 5px;
}

.managementPage form {
  margin-top: 0;
  max-width: 100%;
}

.managementPage form div {
  display: inline-block;
}

.managementPage form button.submit {
  width: auto;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 2px 10px;
  vertical-align: middle;
}

.managementPage .tableWrap {
  margin-top: 10px;
  display: inline-block;
  overflow-y: scroll;
  padding-right: 5px;
  height: calc(100vh - 300px);
  min-height: 300px;
}

.managementPage .tableWrap .managementTable {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

.managementPage .tableWrap .managementTable thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.managementPage .tableWrap .managementTable thead tr th:nth-child(5) {
  width: 120px;
}

.managementPage .tableWrap .managementTable tr:hover td {
  background-color: #11367A;
}

.managementPage .tableWrap .managementTable td input[type="text"] {
  width: 110px;
  background: rgba(46, 132, 245, 0.3);
  color: #bedaff;
  font-size: 18px;
  text-align: center;
  font-family: "微軟正黑體";
  padding: 3px;
}

.managementPage .tableWrap .managementTable td p {
  font-family: "微軟正黑體";
}

.managementPage .tableWrap .managementTable td div p {
  line-height: 22px;
  color: #bedaff;
  font-family: "微軟正黑體";
  display: inline-block;
  text-align: center;
}

.managementPage .tableWrap .managementTable td div button {
  text-align: end;
}

.managementPage .tableWrap .managementTable td button {
  margin-top: 0;
  width: auto;
  padding: 1px 8px;
  font-size: 16px;
  background-color: transparent;
  color: black;
  text-shadow: none;
}

.managementPage .tableWrap .managementTable td button.unlock {
  padding: 4px;
  text-align: end;
  color: #bedaff;
  font-size: 16px;
}

.managementPage .tableWrap .managementTable td button.unlock:hover {
  border: 2px solid #65c6fd;
  background-color: #65c6fd;
  -webkit-box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
          box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
  color: black;
}

.managementPage .tableWrap .managementTable td button.unlock i {
  font-size: 14px;
}

.managementPage .tableWrap .managementTable td button.delete {
  border: 2px solid #ff6767;
  background-color: #ff6767;
  -webkit-box-shadow: 1px 1px 5px #ff6767, -1px -1px 5px #ff6767;
          box-shadow: 1px 1px 5px #ff6767, -1px -1px 5px #ff6767;
}

.managementPage .tableWrap .managementTable td button.delete:hover {
  -webkit-box-shadow: 1px 1px 15px #ff6767, -1px -1px 15px #ff6767;
          box-shadow: 1px 1px 15px #ff6767, -1px -1px 15px #ff6767;
}

@media (min-width: 1000px) {
  .managementPage {
    margin-left: 200px;
  }
  .managementPage thead tr th:nth-child(4), .managementPage thead tr th:last-child {
    width: 120px;
  }
}

@media (max-width: 999px) and (min-width: 861px) {
  .managementPage .managementTable thead tr th:nth-child(4), .managementPage .managementTable thead tr th:last-child {
    width: 60px;
  }
}

@media (max-width: 860px) {
  .managementPage .managementTable thead tr th:first-child {
    display: none;
  }
  .managementPage .managementTable thead tr th:nth-child(4), .managementPage .managementTable thead tr th:last-child {
    width: 60px;
  }
  .managementPage .managementTable thead tr th:nth-child(5) {
    width: 120px;
  }
  .managementPage .managementTable tr > td:first-child {
    display: none;
  }
}

.searchPage {
  margin-left: 150px;
  max-width: 1000px;
  padding-top: 10px;
}

.searchPage table {
  border-collapse: separate;
  border-spacing: 0;
  color: #bedaff;
}

.searchPage table th {
  font-family: GenJyuuGothicX;
  padding: 4px;
  min-width: 90px;
  background: #2e84f5;
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  font-size: 20px;
  color: black;
}

.searchPage table tr td {
  font-family: "微軟正黑體";
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #11367A;
  border-bottom: 3px solid #11367A;
  vertical-align: middle;
  max-width: 400px;
  font-size: 18px;
}

.searchPage table tr td.noData {
  line-height: 36px;
}

.searchPage table tr td p {
  color: #bedaff;
}

.searchPage table tr:nth-child(2n) td {
  background-color: rgba(0, 0, 0, 0.5);
}

.searchPage ::-webkit-scrollbar {
  width: 5px;
}

.searchPage ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #11367A;
}

.searchPage ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px #65c6fd;
}

.searchPage h1 {
  margin-bottom: 5px;
}

.searchPage form {
  margin-top: 0;
  max-width: 100%;
}

.searchPage form div {
  display: inline-block;
}

.searchPage form button.submit {
  width: auto;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 2px 10px;
  vertical-align: middle;
}

.searchPage .tableWrap {
  margin-top: 10px;
  display: inline-block;
  overflow-y: scroll;
  height: calc(100vh - 300px);
  min-height: 300px;
  padding-right: 5px;
}

.searchPage .tableWrap .searchTable {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

.searchPage .tableWrap .searchTable thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.searchPage .tableWrap .searchTable thead tr th:last-child {
  width: 55px;
}

.searchPage .tableWrap .searchTable tr:hover td {
  background-color: #11367A;
}

.searchPage .tableWrap .searchTable td {
  padding: 11px 0;
  font-size: 18px;
}

@media (min-width: 997px) {
  .searchPage {
    margin-left: 200px;
  }
  .searchPage thead tr th:nth-child(5) {
    width: 200px;
  }
}

@media (max-width: 996px) and (min-width: 861px) {
  .searchPage .searchTable thead tr th:first-child {
    display: none;
  }
  .searchPage .searchTable thead tr th:nth-child(4) {
    width: 130px;
  }
  .searchPage .searchTable thead tr th:nth-child(2) {
    width: 120px;
  }
  .searchPage .searchTable thead tr th:nth-child(5) {
    width: 200px;
  }
  .searchPage .searchTable tr > td:first-child {
    display: none;
  }
}

@media (max-width: 860px) {
  .searchPage .searchTable thead tr th:first-child {
    display: none;
  }
  .searchPage .searchTable thead tr th:nth-child(4) {
    width: 130px;
  }
  .searchPage .searchTable thead tr th:nth-child(2) {
    width: 120px;
  }
  .searchPage .searchTable thead tr th:nth-child(5) {
    width: 120px;
  }
  .searchPage .searchTable tr > td:first-child {
    display: none;
  }
}

.popOutPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popOutPage .popOutWrap {
  border-radius: 10px;
  width: 450px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 100px;
  height: auto;
  text-align: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #65c6fd;
  -webkit-box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
          box-shadow: 1px 1px 15px #65c6fd, -1px -1px 15px #65c6fd;
}

.popOutPage .popOutWrap i {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #11367A;
  padding: 6px;
}

.popOutPage .popOutWrap i:hover {
  color: #ff6767;
}

.popOutPage .popOutWrap p {
  color: black;
  vertical-align: middle;
}

@font-face {
  font-family: 'GenJyuuGothicX';
  src: url(../../font/GenJyuuGothicX-Regular.ttf) format("TrueType");
}

.createPage,
.verifyPage,
.identifyPage,
.managementPage,
.searchPage {
  margin-top: 55px;
}

@media (max-width: 992px) {
  .managementPage,
  .searchPage {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */