// @import "./_public.scss";
@import"./public/header";


@keyframes circleRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity .4S, transform .4S;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-40%);
}

// .slider-enter-active {
//   transition-delay: 1s;
// }

#app {
  min-height: 600px;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #22E1FF -35%, $darkblue 20%, black 95%);
  opacity: .96;
  min-width: 700px;
  width: 100%;
  // overflow: hidden;
  // position: relative;



  .appBg {
    position: absolute;
    background-image: url(../img/背景.png);
    width: 100%;
    height: 100%;
    background-position: center center;
    min-width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .1;
    z-index: -1;
  }

  //側邊攔----------
  div.sidebar {
    // border: 1px solid wheat;
    position: absolute;
    top: 130px;
    left: 20px;

    display: inline-block;

    ul.sideMenu {
      // border: 1px solid rgb(224, 78, 41);
      padding: 0 8px;
      transition: all 1s ease;

      li {
        margin: 20px 0;


        a {
          // border: 1px solid red;
          display: inline-block;
          border-radius: 5px;
          text-align: left;
          border-radius: 5px;
          border: 2px solid $blue;
          box-shadow: 1px 1px 5px $blue,
            -1px -1px 5px $blue;
          transition: all 0.3s ease;

          &:hover {
            border: 2px solid $brightBlue;
            box-shadow: 1px 1px 15px $lightblue, -1px -1px 15px $lightblue;
          }

          &.router-link-exact-active,
          &.router-link-active {
            border: 2px solid $brightBlue;
            box-shadow: 1px 1px 15px $lightblue, -1px -1px 15px $lightblue;
          }

          p {
            color: $textColor;
            min-width: 90px;
            letter-spacing: 4px;
            font-size: 18px;
            line-height: 24px;
          }
        }



      }
    }
  }


  .homePage {
    display: contents;

    div.bg {
      position: absolute;
      top: 35%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -35%);
      background-repeat: no-repeat;
      background-image: repeating-radial-gradient(black 0px, black 30px, $blue 30px, $blue 35px, $darkblue 40px, $darkblue 45px);
      opacity: .05;
      z-index: -1;



    }



    .palmWrap {
      // border: 1px solid wheat;
      height: auto;
      margin: 0 auto;

      img {
        // border: 1px solid black;
        width: 100%;
        height: auto;
        opacity: .9;
      }

    }

    ul.indexMenu {
      // border: 1px solid rebeccapurple;
      position: absolute;
      border-radius: 50%;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);
      // overflow: hidden;
      // position: relative;
      border-right: 8px solid rgba(46, 132, 245, 0.15);
      border-bottom: 2px solid rgba(46, 132, 245, 0.2);
      transition: 1S;

      li {
        display: inline-block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        position: absolute;
        border: 2px solid $blue;
        box-shadow: 1px 1px 5px $blue,
          -1px -1px 5px $blue;
        transition: all 0.3s ease;

        &:nth-child(2) {
          .light {
            left: 8px;
            top: 14px;
            width: 10px;
            height: 10px;
          }
        }

        &:nth-child(3) {
          .light {
            right: -7px;
            top: 40px;
            width: 14px;
            height: 14px;
          }
        }

        &:nth-child(4) {
          .light {
            left: -5px;
            top: 65px;
            width: 12px;
            height: 12px;
          }
        }

        &:nth-child(5) {
          .light {
            right: 70px;
            top: 102px;
            width: 10px;
            height: 10px;
          }
        }

        &:hover {
          border: 2px solid $brightBlue;
          box-shadow: 1px 1px 15px $lightblue, -1px -1px 15px $lightblue;

          i {
            /*旋轉動畫*/
            animation-play-state: paused;

            .light {
              background: $brightBlue;
              box-shadow: 3px 3px 15px $lightblue, -3px -3px 15px $lightblue;


            }
          }
        }

        a {
          // border: 1px solid red;
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          text-align: center;
          overflow: hidden;
          transition: 1S;

          &.router-link-exact-active {
            background-color: #22E1FF;
          }

          p {
            // border: 1px solid red;
            color: $textColor;
            min-width: 100px;
            letter-spacing: 4px;
            font-size: 20px;
            text-shadow:
              0 0 2px $darkblue,
              0 0 2px $darkblue,
              0 0 2px $darkblue,
              0 0 2px $darkblue;
            line-height: 98px;
            font-family: GenJyuuGothicX;
          }

          i {
            width: 110px;
            height: 110px;
            position: absolute;
            top: 0px;
            right: 0px;

            animation: circleRotate 10s infinite linear;

            .light {
              position: absolute;
              right: 15px;
              top: 5px;
              width: 12px;
              height: 12px;
              background: $lightblue;
              border-radius: 50%;
              box-shadow: 1px 1px 5px $blue, -1px -1px 5px $blue;
              z-index: 2;

            }
          }
        }

      }
    }


  }

}


@media (min-width:800px) {
  .homePage {

    div.bg {
      width: 750px;
      height: 750px;
    }

    .palmWrap {
      width: 25%;
      min-width: 270px;
      padding-top: 5%;
    }

    ul.indexMenu {
      width: 780px;
      height: 780px;

      // transform: translate(33%, -70%);
      li {
        &:nth-child(1) {
          top: 200px;
          right: 25px;
        }

        &:nth-child(2) {
          top: 410px;
          right: 12px;
        }

        &:nth-child(3) {
          bottom: 60px;
          right: 140px;

        }

        &:nth-child(4) {
          bottom: 2px;
          left: 292px;
        }

        &:nth-child(5) {
          bottom: 100px;
          left: 90px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  .homePage {

    div.bg {
      width: 650px;
      height: 650px;
    }

    .palmWrap {
      width: 25%;
      min-width: 250px;
      padding-top: 10%;
    }

    ul.indexMenu {
      width: 700px;
      height: 700px;

      li {
        &:nth-child(1) {
          top: 180px;
          right: 25px;
        }

        &:nth-child(2) {
          top: 370px;
          right: 12px;

        }

        &:nth-child(3) {
          bottom: 55px;
          right: 125px;
        }

        &:nth-child(4) {
          bottom: 3px;
          left: 265px;

        }

        &:nth-child(5) {
          bottom: 90px;
          left: 85px;

        }
      }
    }
  }
}

@media (max-width:767px) {
  .homePage {

    div.bg {
      width: 550px;
      height: 550px;
    }

    .palmWrap {
      width: 25%;
      min-width: 220px;
      padding-top: 12%;

    }

    ul.indexMenu {
      width: 610px;
      height: 610px;

      li {
        &:nth-child(1) {
          top: 150px;
          right: 22px;
        }

        &:nth-child(2) {
          top: 330px;
          right: 16px;

        }

        &:nth-child(3) {
          bottom: 28px;
          right: 135px;
        }

        &:nth-child(4) {
          bottom: 12px;
          left: 175px;

        }

        &:nth-child(5) {
          bottom: 130px;
          left: 35px;

        }
      }
    }
  }
}