//--import變數
@import"./mixins/colors";
@import './mixins/table';
@import './mixins/scrollBar';
//--import所有頁面
@import'./pages/login';
@import'./pages/create';
@import'./pages/verify';
@import'./pages/identify';
@import'./pages/management';
@import'./pages/search';
@import'./pages/popOut';

@font-face {
  font-family: 'GenJyuuGothicX';
  src: url(../../font/GenJyuuGothicX-Regular.ttf) format('TrueType');
}

.createPage,
.verifyPage,
.identifyPage,
.managementPage,
.searchPage {
  margin-top: 55px;
}

@media(max-width:992px) {

  .managementPage,
  .searchPage {
    margin-top: 20px;
  }
}