// ----建檔頁---------------
//radio動畫
@keyframes ripple {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 40px;
    width: 40px;
    margin-left: -18px;
    margin-top: -20px;
    opacity: 0;
  }
}

//loading動畫---------
@keyframes bounceDelay {

  0%,
  80%,
  100% {
    // -webkit-transform: scale(0);
    transform: scale(0);
  }


  40% {
    // -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.createPage {
  .selectHand {
    // border: 1px solid black;
    margin-top: 20px;
    text-align: left;

    p {
      display: inline-block;
      color: $textColor;
    }

    div {
      // border: 1px solid rgb(219, 114, 114);
      display: inline-block;
      width: 100px;
      color: $textColor;

      // text-align: left;
      input[type="radio"] {
        // border: 1px solid rgb(219, 114, 114);
        width: auto;
        cursor: pointer;
        margin: 0;
        background: $lightblue;
        border: none;
        color: $darkblue;
        // font-size: 50px;
        display: inline-block;
        appearance: none;
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        transition: all 0.15s ease-out 0s;
        display: inline-block;

        &:checked {
          background: $textColor;

        }

        &:checked::after {
          // -webkit-animation: ripple 0.65s;
          // -moz-animation: ripple 0.65s;
          animation: ripple 0.65s;
          background: $textColor;
          content: '';
          display: block;
          position: relative;
          z-index: 100;
        }

        &:checked::before {
          height: 15px;
          width: 15px;
          position: absolute;
          content: '■';
          top: -2px;
          left: 3px;

        }

        &::after {
          border-radius: 50%;
        }
      }

      .labelRadio {
        font-size: 18px;
        cursor: pointer;
        padding-left: 10px
      }
    }
  }

  .warning {
    text-align: center;
    margin-top: 20px
  }

  //---傳送loading
  .spinner {
    display: inline-block;
    margin-left: 25px;
    text-align: center;


    div {
      width: 6px;
      height: 6px;
      background-color: $textColor;
      border-radius: 50%;
      display: inline-block;
      margin: 0 3px;
      // -webkit-animation: bounceDelay 1.4s infinite ease-in-out both;
      animation: bounceDelay 1.4s infinite ease-in-out both;

      &:first-child {
        animation-delay: -0.32s;
      }

      &:nth-child(2) {
        animation-delay: -0.16s;
      }

    }
  }


}