.wrapBox {
  padding: 30px 15px;
  max-width: 340px;
  margin: 120px auto 0;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  form {
    max-width: 300px;
    margin: 0 auto;
    font-family: GenJyuuGothicX;

    .animate-label {
      position: relative;
      margin-top: 35px;

      label {
        position: absolute;
        bottom: 8px;
        left: 0;
        transition: .3s all ease;
        font-size: 18px;
        width: 100%;
        color: $textColor;
        padding: 0 5px;
      }

      input:valid+label,
      input:focus+label {
        bottom: 42px;
        font-size: 16px;
        color: $textColor;

      }

      span:before {
        content: '';
        position: absolute;
        background: $textColor;
        width: 0px;
        height: 2px;
        right: 50%;
        bottom: 0;
      }

      input:focus~span:before {
        width: 100%;
        right: 0;
        transition: all .3s ease;
      }
    }

    p.warning {
      position: absolute;
      top: 2px;
      left: 120px;
      max-width: 200px;
      font-size: 15px;
    }

    input {
      width: 97%;
      background: rgba(46, 132, 245, 0.3);
      color: $textColor;
      padding: 8px 5px;

      &:focus,
      &:valid {
        background: rgba(46, 132, 245, 0.1);


      }

      &::placeholder {
        color: $textColor;
        font-size: 18px;
      }
    }


    div.center {
      width: 100%;
      text-align: center;
    }


  }


}