.popOutPage {
  // border: 1px solid wheat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .popOutWrap {
    border-radius: 10px;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    height: auto;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightblue;
    box-shadow: 1px 1px 15px $lightblue, -1px -1px 15px $lightblue;

    i {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
      cursor: pointer;
      color: $darkblue;
      padding: 6px;

      &:hover {
        color: $warningColor;
      }
    }

    p {
      // border: 1px solid black;
      color: black;
      vertical-align: middle;
    }
  }
}