// ----驗證頁---------------

.verifyPage {
  @include table;

  .tableInfo {
    margin: 50px auto;

    th {
      width: 140px;
      padding: 5px;
    }

    td {
      padding: 8px 5px;
      text-align: center
    }
  }
}