//變數區 之後再import
$blue:rgb(46, 132, 245);
$darkblue:#11367A;
$lightblue:rgb(101, 198, 253);
$brightBlue:rgb(159, 220, 255);
$textColor: #94f1ff;
$warningColor: rgb(255, 103, 103);
$tableText:rgb(190, 218, 255);